<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="app-sidenav" fixedInViewport
      [attr.role]="isPinned ? 'dialog' : 'navigation'"
      [mode]="isPinned ? 'over' : 'side'">
      <div class="app-sidenav-wrapper">
    <mat-nav-list (click)="isPinned && drawer.close()">
      <a mat-list-item routerLink="/sonic" routerLinkActive="active">Sonic</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Link 2</a>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Link 3</a>
    </mat-nav-list>
          <div class="app-sidenav-footer">
              <button mat-icon-button (click)="pin()">
                  <mat-icon>pinboard_unread</mat-icon>
              </button>
          </div>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="app-header">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <mat-slide-toggle (change)="onDarkModeSwitched($event)">
            <ng-container *ngIf="!(darkModeSwitched | async); else darkModeText">Light</ng-container>
            <ng-template #darkModeText>Dark</ng-template>
        </mat-slide-toggle>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
